<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtb3xhW4kgOJUtqvrprIzCdC9-NQLsiq8</string>
	<key>GCM_SENDER_ID</key>
	<string>602270281875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neer</string>
	<key>PROJECT_ID</key>
	<string>neer-explorewhatsneer</string>
	<key>STORAGE_BUCKET</key>
	<string>neer-explorewhatsneer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602270281875:ios:e255c1540025d014055d66</string>
</dict>
</plist>